---
// src/components/Collections.astro
---

<div class="mx-auto max-w-7xl">
  <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
    <h2 class="text-base/7 font-semibold text-zinc-600 bg-gradient-to-r from-cyan-500/20 to-emerald-200/20 pl-4 py-2 rounded-r-full w-[310px]">
      Coleccion de instrumentos fabricados
    </h2>

    <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
      <div class="group relative">
        <img
          src="/image.webp"
          alt="Instrumentos de cuerda"
          class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 group-hover:transition-all duration-300 ease-in-out max-sm:h-80 sm:aspect-2/1 lg:aspect-square "
        />
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="#">
            <span class="absolute inset-0"></span>
            Instrumentos de Cuerda
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">
          Instrumentos artesanales de alta calidad
        </p>
      </div>
      <div class="group relative">
        <img
          src="/image.webp"
          alt="Accesorios para luthier"
          class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 group-hover:transition-all duration-100  max-sm:h-80 sm:aspect-2/1 lg:aspect-square"
        />
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="#">
            <span class="absolute inset-0"></span>
            Accesorios
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">
          Herramientas y accesorios para luthiers
        </p>
      </div>
      <div class="group relative">
        <img
          src="/image.webp"
          alt="Cursos de luthería"
          class="w-full rounded-lg bg-white object-cover group-hover:opacity-75 group-hover:transition-all duration-300 ease-in-out max-sm:h-80 sm:aspect-2/1 lg:aspect-square"
        />
        <h3 class="mt-6 text-sm text-gray-500">
          <a href="#">
            <span class="absolute inset-0"></span>
            Cursos
          </a>
        </h3>
        <p class="text-base font-semibold text-gray-900">
          Aprende a construir tus propios instrumentos
        </p>
      </div>
    </div>
  </div>
</div>
