---
interface Logo {
  alt: string;
  src: string;
}

interface Props {
  logos: Logo[];
}

const { logos } = Astro.props as Props;
---

<div class="bg-white max-w-7xl py-24 sm:py-32 mx-auto px-6 lg:px-8 md:rounded-xl">
  <div class="mx-auto">
    <h2 class="text-center text-6xl sm:text-7xl font-semibold text-gray-900 pb-10">
      Entidades que operan en Hiperstición
    </h2>
    <p class="text-center max-w-2xl mx-auto text-lg text-zinc-600 font-medium pb-16">
      No todas son visibles. No todas son conscientes. Algunas están atrapadas en bucles de causa. Otras los diseñan.
    </p>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {logos.map((logo) => (
        <div class="col-span-2 flex items-center justify-center lg:col-span-1">
          <img class="max-w-full max-h-full object-contain rounded-full ring-2 ring-zinc-200 shadow-sm" src={logo.src} alt={logo.alt} />
        </div>
      ))}
    </div>
  </div>
</div>
